# --- 1. Python Basics ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.log

# --- 2. Environment & Secret ---
.env
.venv/
env/
venv/
ENV/

# --- 3. Mac & OS Files ---
.DS_Store
Thumbs.db

# --- 4. Project Data & Artifacts  ---
data/
database/
database_images/
models/

!data/.gitkeep
!models/.gitkeep

# --- 5. IDE Settings ---
.vscode/
.idea/

# --- 6. Testing & Mypy ---
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/